<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="Contact">
    <h2 style="font-size: 25px"><pre>Contact Me:                       </pre> </h2>

    <a href="https://www.facebook.com/emdz.anjelo/" target="_BLANK"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/villafrancanjelo/" target="_BLANK"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://mail.google.com/mail/u/0/#inbox" target="_BLANK"><i class="fa fa-envelope" aria-hidden="true"></i></a>
    <br>
    <br>
    <pre style="font-size: 25px">
    Phone Number: 0975-995-3120
    Email: jelo.villafranca@gmail.com 
    </pre>
    <br>
    <br>
</div>

