.Contact{
	width: 700px;
	height: 300px;
	margin-top: 120px;
    margin-left: 300px;
	text-align: center;
    background-color: rgba(134, 133, 133, 0.363);
    padding-bottom: 10px;
    padding-top: 10px;
}

.Contact .fa{
	font-size: 50px;
	padding: 30px;
    color: black;
}