h1{
    font-size: 40px;
    font-family: Verdana;
}

.home{
    margin-left: 150px;
    margin-top: 150px;
    background-color: rgba(134, 134, 134, 0.11);
    width: 500px;
    padding-left: 25px;
    padding-top: 3px;
    padding-bottom: 5px;
    
}

.qoute{
    float: right;
    font-size: 25px;
    font-style: italic;
    border: 1px solid black;
    width: 500px;
    border-top-left-radius: 20px;
    border-bottom-right-radius:20px;
}